@model Aaron.Models.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<h2 class="mb-4">تغییر رمز عبور</h2>

<form asp-action="ChangePassword" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label"></label>
        <input asp-for="CurrentPassword" class="form-control" type="password" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmNewPassword" class="form-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">تغییر رمز عبور</button>
</form>
