@model Aaron.Models.ViewModels.EditAuthorViewModel;

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

<form enctype="multipart/form-data" asp-action="Edit" method="post">
	@Html.AntiForgeryToken()
	<input type="hidden" asp-for="Id" />
	<div class="row mb-3">
		<div class="col-md-6">
			<label asp-for="Name" class="form-label">نام نویسنده</label>
			<input asp-for="Name" class="form-control" />
			<span class="text-danger" asp-validation-for="Name"></span>
		</div>
	</div>

	<div class="mb-3 col-md-6">
		<label asp-for="ImageFile" class="form-label">تصویر</label>
		<input type="file" asp-for="ImageFile" class="form-control" />
		<span class="text-danger" asp-validation-for="ImageFile"></span>
	</div>

	@if (!string.IsNullOrWhiteSpace(Model.CoverImagePath))
	{
		<div class="mb-3">
			<img src="@Model.CoverImagePath" alt="تصویر فعلی" class="img-thumbnail" style="max-width: 200px;" />
		</div>
	}

	<div class="mb-3">
		<label asp-for="Description" class="form-label"> توضیحات </label>
		<textarea asp-for="Description" class="form-control" rows="5"></textarea>
		<span class="text-danger" asp-validation-for="Description"></span>
	</div>

	<button type="submit" class="btn btn-primary">بروزرسانی</button>
</form>


