@{
	ViewData["Title"] = "درباره آرون";
}

<section class="mb-4">
    <img src="~/images/aaron-swartz.png" alt="آرون شوارتز" class="img-fluid w-100 pt-5" style="max-height: 500px; object-fit: cover;">
</section>


<main class="container py-5" style="max-width: 768px; line-height: 2; text-align: justify;">
    <h1 class="text-center mb-3">درباره تلاش برای ساختن دنیایی آزادتر</h1>
    <h5 class="text-center text-muted mb-4">زندگی کوتاه آرون شوارتز</h5>
    <hr />
    <blockquote class="blockquote text-center mb-5">
        <p class="fs-5 fw-light">
            "دانش به انسان‌ها قدرت می‌بخشد، اما عده‌ای قدرت‌طلب، دانش را به مثابه تمامی ابزارهای قدرت؛ تنها برای خود می‌خواهند"
        </p>
    </blockquote>

    <p>
        اواسط سال نود و هفت، پادکستی از یک زندگی از دست‌رفته منتشر شد. داستان پسری که تفکر آزادش می‌توانست پناهی جدید و محکم برای آزادی بیان باشد. ماجرای زندگی آرون شوارتز، برای اولین بار در رسانه‌های فارسی؛ توسط تیم چنل‌بی منتشر شده و ما را علاقه‌مند کرد تا درباره‌ی پسر اینترنت بیشتر بخوانیم. هرچند که سالها از مرگ آرون شوارتز میگذرد؛ اما تاثیر او به اندازه تمامی انسان‌های فهیمی که برای آزادی تفکر و بیان و نشر و ترویج آگاهی تلاش می‌کنند و در مقابل تلاش‌شان فقط آرامش را می‌طلبند و رسالت خود را ادامه می دهند، زنده است.
    </p>
    <p>
        آرون شوارتز، فعال سیاسی و اینترنتی، نویسنده، گیک و پسر اینترنت بود که در طول زندگی کوتاهش، قامت بلندی برای آزادی بیان، آزادی رسانه و گسترش اطلاعات متصور شد و همه‌ی تلاشش را برای حفظ و نشر آزادی به‌کار بست.
        آرون به عنوان نابغه‌ی فناوری و اینترنت شناخته می‌شد و زمانی که تنها سیزده سال داشت در ایجاد مشخصه‌ی آر‌اس‌اس همکاری کرد و موفق شد جایزه‌ی ARS Digita را به خود اختصاص دهد.
    </p>
    <p>
        او به مباحث جامعه‌شناسی و کنش‌های اجتماعی علاقه‌مند بود و تحصیلاتش را در دانشگاه استنفورد ناتمام گذاشت تا توسط دو نفر از دوستانش، شرکت نوپایی را پایه‌گذاری کند: ردیت!<br />
        عمده فعالیت‌های آرون شوارتز در حیطه‌ی کمپین جلوگیری از قانون توقف سرقت آنلاین، یا به صورت اختصار SOPA بود. <br />( قانونی که در سال 2011 به مجلس نمایندگان آمریکا ارائه شد و بر اساس آن هر وب‌سایتی که به هر نحو؛ محتوای دارای حق تالیف را بدون اجازه‌ انتشار دهند، مسدود شده و هیچ شرکت اینترنتی اجازه ارائه خدمات به این وبگاه‌ها را نخواهد داشت).
        <br />اصلی ترین آرمان او در زندگی برای ایجاد و دسترسی به اطلاعات آزاد در پروژه‌ی Open Library ، یک ایده‌ی آنلاین برای ایجاد " یک صفحه در وب برای هر کتاب" به جا مانده است.
    </p>
    <p>

        آرون شوارتز این ایده را به کمک چندی از دوستانش عملی کرد و سازمانی غیرانتفاعی را پایه گذاشت که نسخه های دیجیتال کتاب ها را در فرمت‌های مختلف در اختیار کاربران قرار می‌دهد. آرون شوارتز این وبسایت را در سال 2006 راه‌اندازی کرد. این وبسایت؛ نسخه‌های دیجیتالی کامل از چاپ‌های اولیه کتاب های مختلف را در اختیار کاربران قرار می‌دهد و همچنین امکان قرض گرفتن نسخه‌ی فیزیکی کتاب ها نیز موجود است.
    </p>
    <p>
        توزیع سیستماتیک نسخه‌های کتاب‌ها اعتراض‌های شدیدی را نسبت به نقض قانون کپی رایت به دنبال داشته است. اما ایده‌ی اصلی این وب‌سایت متعلق به پسری است که علاقه و تعهد او به نشر آزاد اطلاعات آنقدر زیاد بود که در سال 2010 پس از آن‌که از طریق لپ‌تاپ خود به JStore آرشیو دیجیتالی دانشگاه MIT وصل شد؛ با دانلود نشریات و مجلات و مقاله‌هایی که استفاده از آن‌ها ملزم به پرداخت حق عضویت بوده و قوانینی سخت دارد، خطر گرانی را به جان خرید. عواقب اعتقادات او به آزادی اطلاعات، شکایت دانشگاه از او و دادگاه‌های متعدد و در نهایت درهم شکستن ایده‌آل گرای مدرن داستان بود.
    </p>
    <p>
        آرون شوارتز، در مقابل سختگیری‌ها و تلاش دادگاه برای مقصر جلوه دادن او دوام نیاورد و در یازده ژانویه 2013 در آپارتمانش؛ خود را به دار آویخت. به این ترتیب، یکی از بهترین فرزندان اینترنت که تمامی تلاش خود را برای دنیایی آزاد و ثابت‌قدم به کار بست، بدون اینکه یادداشت و نوشته‌ای از خود به جای بگذارد به عمر کوتاهش پایان داد.
    </p>
    <p>
        پس از مرگ او، تمامی اتهامات علیه وی لغو شد اما این کار آرون را به زندگی برنمی‌گرداند.
        برای ارج نهادن به تلاش‌ها و مشارکت در جامعه‌ی فنی و به یادش؛ خانواده و دوستان او <a href="http://www.rememberaaronsw.com/" target="_blank">وب‌سایتی</a> برای اشتراک‌گذاری خاطرات ایجاد کرده‌اند.
        همچنین، <a href="http://www.aaronsw.com/" target="_blank">وب‌سایت و بلاگ آرون</a> که شامل خاطرات‌، روزمره‌ها و نوشته‌های او می‌شود هنوز قابل دسترسی است.
        آرون شوارتز الهام‌بخش ما برای تشویق و توسعه‌ی کتابخوانی و نشر اطلاعات، بود.
        اگر علاقه‌مند بودید این <a href="https://openlibrary.org/" target="_blank">لینک</a> برای دسترسی به Open Library را دنبال کنید.
        شرح کامل زندگی و فعالیت‌های او در پادکست کامل و جامع <a href="https://channelbpodcast.com/archives/9117" target="_blank">چنل ‌بی</a> با صدای گرم آقای علی بندری، اطلاعات کامل و جامعی در اختیار شما قرار خواهد داد.
    </p>

    <div class="text-center mt-5">
        <a href="https://channelbpodcast.com/archives/9117" target="_blank" class="btn btn-outline-dark">
            لینک پادکست
        </a>
    </div>
</main>


