@{
	ViewData["Title"] = "Home";
}

<section class="text-center py-5">
	<div class="container">
		<h1 class="fw-bold display-6 fst-italic">
			" دانش به انسان‌ها قدرت می‌بخشد، اما عده‌ای قدرت‌طلب، دانش را به مثابه تمامی ابزارهای قدرت؛ تنها برای خود می‌خواهند"
		</h1>
		<p class="mt-4 text-muted mx-auto fs-5" style="max-width: 800px;">
			اواسط سال نود و هفت، پادکستی از یک زندگی از دست‌رفته منتشر شد.
			داستان پسری که تفکر آزادش می‌توانست پناهی جدید و محکم برای آزادی بیان باشد.
			ماجرای زندگی آرون شوارتز، برای اولین بار در رسانه‌های فارسی توسط تیم چنل‌بی منتشر شد
			و ما را علاقه‌مند کرد تا درباره‌ی پسر اینترنت بیشتر بخوانیم.
			هرچند که سالها از مرگ آرون شوارتز میگذرد؛
			اما تاثیر او به اندازه تمامی انسان‌های فهیمی که برای آزادی تفکر و بیان و نشر و ترویج آگاهی تلاش می‌کنند و
			در مقابل تلاش‌شان فقط آرامش را می‌طلبند و رسالت خود را ادامه می دهند، زنده است...
		</p>
		<div class="mt-4 d-flex justify-content-center gap-3">
			<a class="btn btn-dark fw-bold" asp-action="AboutAaron">مطالعه بیشتر</a>
			<a class="btn btn-outline-secondary" asp-controller="Books" asp-action="Index">ورود به دنیای کتاب‌ها</a>
		</div>
	</div>
</section>
